<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyJukebox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MyJukebox_EF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MyJukebox_EF.Properties.Settings.DatabaseConnection" connectionString="data source=(LocalDb)\MSSQLLOCALDB;initial catalog=MyJukebox;integrated security=True;" />
    <add name="MyJukeboxEntities" connectionString="metadata=res://*/DAL.MyJukeboxModel.csdl|res://*/DAL.MyJukeboxModel.ssdl|res://*/DAL.MyJukeboxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=A:\Database\MyJukebox\MyJukebox.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MyJukebox.Properties.Settings>
      <setting name="CompanyName" serializeAs="String">
        <value>NRSoft</value>
      </setting>
    </MyJukebox.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <MyJukebox_EF.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>0.9.6</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>MyJukebox</value>
      </setting>
      <setting name="Configfile" serializeAs="String">
        <value>MyJukebox.config</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>NRSoft</value>
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value>MyJukebox.net</value>
      </setting>
    </MyJukebox_EF.Properties.Settings>
  </applicationSettings>
</configuration>