<?xml version="1.0" encoding="windows-1250"?>
<MyJukebox>
    <Database>
        <Type>mssql</Type>
        <Name>MyJukebox</Name>
        <Path></Path>
        <Columns>
            <ID width="60"></ID>
            <Katalog width="70"></Katalog>
            <Medium width="60"></Medium>
            <Album width="150"></Album>
            <Interpret width="98"></Interpret>
            <Titel width="188"></Titel>
            <Genre width="68"></Genre>                                     
            <K1 width="30"></K1>
            <K2 width="30"></K2>                                      
            <Gespielt width="60"></Gespielt>
            <Voting width="48"></Voting>
            <Duration width="58"></Duration>
            <FileSize width="65"></FileSize>
            <FileDate width="66"></FileDate>
            <Beat width="36"></Beat>
            <Pfad width="98"></Pfad>
            <FileName width="68"></FileName>
            <Sampler width="54"></Sampler>
        </Columns>
    </Database>
    <Categories>
        <Category>Genre</Category>
        <Category>Katalog</Category>
        <Category>Album</Category>
        <Category>Interpret</Category>
    </Categories>
</MyJukebox>
